In [1]:
import pandas as pd

In [2]:
data = {
    "patient_id": [1, 2, 3, 4, 5],
    "patient_name": ["John Doe", "Jane Smith", "Alice Johnson", "Bob Brown", "Charlie Black"],
    "conditions": ["YFEV COUGH", "", "DIAB100 MYOP", "ACNE DIAB100", "DIAB201"]
    }

In [6]:
df = pd.DataFrame(data)

In [8]:
df

   patient_id   patient_name    conditions
0           1       John Doe    YFEV COUGH
1           2     Jane Smith
2           3  Alice Johnson  DIAB100 MYOP
3           4      Bob Brown  ACNE DIAB100
4           5  Charlie Black       DIAB201

In [10]:
patients_with_diabetes = df[df['conditions'].str.contains(r'(^|\s)DIAB1\d*($|\s)', na=False)]

/var/folders/ym/cr8zct792z95jz8q8szj5tv00000gn/T/ipykernel_93215/4041003967.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  patients_with_diabetes = df[df['conditions'].str.contains(r'(^|\s)DIAB1\d*($|\s)', na=False)]

In [11]:
patients_with_diabetes

   patient_id   patient_name    conditions
2           3  Alice Johnson  DIAB100 MYOP
3           4      Bob Brown  ACNE DIAB100